<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>ADMIN LOGIN</title>
</head>
<body>
    <main data-theme="dark" style="padding-left:20%;padding-right:20%">
        <article>
                <form action="/admin/verify" method="post">
                    <label for="user">
                        Username:-
                        <input type="text" name="user" required/>
                    </label>
                    <label for="pswd">
                        Password:-
                        <input type="password" name="pswd" required>
                    </label>
                    <button type="submit">LOGIN</button>
                </form>
        </article>
    </main>
</body>
</html>