<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>ADMIN</title>
</head>
<body>
    <main data-theme="dark">
        <article>
            <img src="" alt="">
            <label>
                From Date:-
                <input type="date" id="from-date">
            </label>
            <label>
                To Date:-
                <input type="date" id="to-date">
            </label>
            <button type="submit" id="load">LOAD</button>
        </article>
        <article>
            <div>
                <select id="gen-location" onchange="processMajorLocation()">
                    <option value="" disabled selected>Building</option>
                </select>
                <select id="gen-minor-location" onchange="processMinorLocation()">
                    <option value="" disabled selected>Washroom</option>
                </select>
            </div>
            <div style="display:flexbox">
                <div id="img-block"></div>
                <div id="img-specific-block"></div>
                <div>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col">Sch.No.</th>
                                <th scope="col">Feedback</th>
                                <th scope="col">Washroom</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Time</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">

                        </tbody>
                    </table>
                </div>
            </div><br>
            <div class="grid">
                <button id="prev">PREV</button>
                <button id="next">NEXT</button>
            </div>
            <div class="grid">
                <button id="reload">RELOAD</button>
            </div>
        </article>
    </main>
    <script>
        page=0
        var wholeData;
        var locationData;

        $("#load").click(()=>{
            const fromDate = Date.parse($("#from-date").val()) / 1000 - 19800;
            const toDate = Date.parse($("#to-date").val()) / 1000 - 19800;

            document.getElementById("img-block").innerHTML="";

            fetch("/chart?fromDate="+fromDate+"&toDate="+toDate,{
                method:"POST"
            }).then((response)=>{
                return response.blob();
            }).then((blob)=>{
                const objURL = URL.createObjectURL(blob);
                const imgElement = document.createElement("img");
                imgElement.src=objURL;
                document.getElementById("img-block").appendChild(imgElement);
            }).catch(()=>{
                document.getElementById("img-block").innerHTML="<p>REQUEST FAILED</p>";
            })

            loadPage();
        });

        $("#prev").click(()=>{
            page=page-1;
            updateTable(page);
        })

        $("#next").click(()=>{
            page=page+1;
            updateTable(page);
        })
        $("#reload").click(()=>{
            fetch("/reload",{
                method:"POST"
            })
        })

        function loadPage(){
            fetch("/get/table?fromDate="+(Date.parse($("#from-date").val())/1000 - 19800)+"&toDate="+(Date.parse($("#to-date").val())/1000 - 19800),{
                method:"POST"
            }).then(
                (response)=>{
                    if(response.ok){
                        return response.text()
                    }else{
                        Promise.reject(Response)
                    }
                }
            ).then(
                (data)=>{
                    wholeData=JSON.parse(data);
                    updateTable(page);
                }
            )
        }

        function updateTable(pageNum){
            document.getElementById("table-body").innerHTML="";
            var i=pageNum*10;
            const till=i+10;
            while(i<till){
                const element=wholeData[i];
                addRow(element[5],element[0],element[3],element[2],element[4],element[1]);
                i=i+1;
            }
        }

        function addRow(col1,col2,col3,col4,col5,col6){
            var row=document.getElementById("table-body").appendChild(document.createElement("tr"));
            row.appendChild(document.createElement("td")).innerText=col1;
            row.appendChild(document.createElement("td")).innerText=col2;
            row.appendChild(document.createElement("td")).innerText=col3;
            row.appendChild(document.createElement("td")).innerText=col4;
            row.appendChild(document.createElement("td")).innerText=col5;
            row.appendChild(document.createElement("td")).innerHTML="<a href='/img/"+col6+"' target='_blank'>Open Image</a>";
        }

        $(document).ready(()=>{
            document.getElementById("from-date").valueAsDate = new Date();
            document.getElementById("to-date").valueAsDate = new Date();

            fetch("/get/locations").then((response)=>{
                if(response.ok){
                    return response.text()
                }else{
                    Promise.reject(response)
                }
            }).then((data)=>{
                locationData=JSON.parse(data)
                listObj=Object.keys(locationData)
                length=listObj.length
                i=0
                while(i<length){
                    element=document.createElement("option")
                    element.setAttribute("value",listObj[i])
                    element.innerText=listObj[i]
                    document.getElementById("gen-location").appendChild(element)
                    i=i+1
                }
            })
        })

        function processMajorLocation(){
            listObj=Object.keys(locationData[document.getElementById("gen-location").value])
            i=0
            while(i<listObj.length){
                element=document.createElement("option")
                element.setAttribute("value",locationData[document.getElementById("gen-location").value][listObj[i]])
                element.innerText=listObj[i]
                document.getElementById("gen-minor-location").appendChild(element)
                i=i+1
            }
        }

        function processMinorLocation(){
            fromDate=Date.parse($("#from-date").val())/1000 - 19800;
            toDate=Date.parse($("#to-date").val())/1000 - 19800;
            washroomCode=document.getElementById("gen-minor-location").value
            
            document.getElementById("img-block").innerHTML="";

            fetch("/chart?fromDate="+fromDate+"&toDate="+toDate+"&washroomCode="+washroomCode,{
                method:"POST",
                headers:{
                    "Authorization" : localStorage.getItem("auth")
                }
            }).then((response)=>{
                return response.blob();
            }).then((blob)=>{
                var objURL=URL.createObjectURL(blob);
                var imgElement=document.createElement("img");
                imgElement.src=objURL;
                document.getElementById("img-block").appendChild(imgElement);
            }).catch(()=>{
                document.getElementById("img-block").innerHTML="<p>REQUEST FAILED</p>";
            })
        }
    </script>
</body>
</html>