<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div>
    {% for row in data %}
        <div class="card" id="{{ row.ticket_id }}">
            <p class="location">{{ row.location }}</p>
            <p class="selected">{{ row.selected }}</p>
            <p class="other">{{ row.other }}</p>
            <p class="time">{{ convertTime(row.time) }}</p>
            <p class="image-link"><a href="{{ row.img }}">Open Image</a></p>
        </div>
    {% endfor %}
</div>
</body>
</html>